body {
	margin: 20px;
	background-color: #d1ecfa;
	font-family: 'Ubuntu', sans-serif;
}
h1 {
	color:darkblue;
	margin: 10px;
	font-family: 'Ubuntu', sans-serif;
	padding: 10px;
}
p {
	color: #3819e6;
	padding-bottom: 0px;
	font-weight: bold;

}
.titel{
	text-align: center;
	border: 5px groove grey;
}
.form {
	font-family: 'Ubuntu', sans-serif;
	border: 2px double darkgrey;
	padding-bottom: 20px;
	text-align: center;
}
.error{
	color: #ff0000 ;
}

.textalignbox {
position:absolute;
width:20%;	
height:100px;
background-color:red;
}

.textalignmail {
position:absolute;
width:20%;
height:200px;
background-color:blue;
}
